# UOL accomodation data

In [1]:
# The code was removed by Watson Studio for sharing.

,Timestamp,Name,Email ID,Mobile Number,Age,Gender,Course Name,Have you finalised/booked your accommodation,"If Yes, which accommodation?",Food choice,...,[Other Choices],"In addition the properties mentioned above, if you have any other sugestions, please mention them here",Remarks,City,Have you finalised your decision to join the University of Leeds,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2022-03-17 06:34:16.456,Ritika Sowda,sowdaritika@gmail.com,+91 9742351167,23,Female,MSc. Ecological Economics,Yes,Blenheim Point,NaN,...,NaN,NaN,NaN,Bangalore,Yes,NaN,Finalised Leeds,196,NaN,NaN
1,2022-03-12 20:00:05.061,Akanksha Khubbar,akankshakhubbar5776@gmail.com,6283185737,22,Female,M. Sc in Clinical embryology and assisted repr...,Yes,Grayson heights,Non-Veg,...,NaN,NaN,NaN,Chandigarh,Yes,NaN,Not Yet finalised,25,Finalised Accom,71.0
2,2022-03-11 00:24:48.711,Sankalp Lokhande,sankalplokhande.spl@gmail.com,+918793715815,21,Male,Engineering Project Management,Yes,Oak House,NaN,...,NaN,NaN,NaN,Julgaon,Yes,NaN,Not yet filled,11,Not Yet finalised accom,160.0
3,2022-03-11 06:26:54.720,Rohan Philmore,rohanphilmore99@gmail.com,+918220673889,22,Male,MiM,Yes,Oak House,NaN,...,NaN,NaN,NaN,Chennai,Yes,NaN,NaN,232,NaN,231.0
4,2022-03-11 08:51:36.456,JANHAVI THAKURDESAI,janhavithakurdesai@yahoo.com,+919833928316,23,Female,MA Human Resource Management,Yes,Oak House,NaN,...,NaN,NaN,NaN,Mumbai,Yes,NaN,NaN,NaN,NaN,NaN